# For the iCE40HX-1K iCEstick

set_io clk 21
set_io out[0] 81
set_io out[1] 80

set_io -nowarn led[0] 99
set_io -nowarn led[1] 98
set_io -nowarn led[2] 97
set_io -nowarn led[3] 96
set_io -nowarn led[4] 95
